body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #333;
    background: #fff;
}

table, th, td {
    border: 1px solid black;
    }
    th, td {
            padding: 1.3em;
    }

p {
    margin: .8em .8em .8em 3.2em;
}

ol, ul, dl, li {
    margin: .8em .8em .8em 3.2em;
}

p {
    padding: 0;
    line-height: 140%;
}

h1,h2,h3,h4,h5 {
    font-weight: bold;
}

h1 {
    margin: 2em .8em 1.4em .8em;
    text-align: center;
    font-weight: 300;
    font-size: 2.6em;
    background-color: #339;
    color: #cfc;
}

h2 {
    font-size: 2em;
    margin: 1.6em .8em 1.2em 1.4em;
    color: #076;
}

h2.subhead {
    font-weight:
    normal;
    margin-top:
    0;
}

h3 {
    font-size: 1.6em;
    margin: 1.6em .8em 1.2em 2em;
    color: #633;
    font-weight: bold;
}

h4 {
    font-size: 1.5em;
    margin: 1.4em .8em 1.2em 2.6em;
    color: #339;
    font-weight: bold;
}

figure, figure.toc {
    text-align: center;
/*    margin: .75em 1.25em .75em 100;  */
}

figure.toc {
    margin: 0em 4em 4em 4em;  */
}

figcaption {
    color: #606;
    font-style: italic;
    text-align: center;
    margin: 1em 1.25em .75em 20;
}
